
*{
  margin: 0;
  padding: 0;
  background-color: #000000;
}

body{
overflow-x: hidden;
}

.menu-nav{
  background-color: #000000;
  display: flex;
  padding: 16px;
  color: #adff2f;
  font-weight: bold;
  font-family: "Fira Code";
  box-shadow: #ffffff0b 0px 8px 24px;
  position: fixed;
  width: 100%;
}

.menu-nav-logo {
  padding: 24px 32px;
  color: greenyellow;
  font-weight: 350;
  font-size: 14px;
  font-family: "Fira Code";
}

.menu-nav-items{
  display: flex;
  cursor: pointer;
  margin-left: auto;
}

.menu-nav__Link {
  padding: 24px 32px;
  text-decoration: none;
  color: #d7d7d7;
}

.menu-nav__Link:hover{
  color: #adff2f;
}

.apresentacao{
  background-color: #000000;
  padding: 100px;
}

.container{
  display: flex;
}

.subtitulo{
  margin-top: 300px;
  margin-bottom: 0px;
  font-size: 15px;
  color: #d7d7d7;
  font-family: "Fira Code";
  font-weight: 500;
  padding-left: 1%;
}

.titulo {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #d7d7d7;
  font-family: "Orbitron", sans-serif;
  font-size: 74px;
}

.titulo:hover{
  color:#adff2f
}

.textos-explicativos {
  background-color: #000000;
  text-align: center;
}

.textos-explicativos-subtitulo {
  font-size: 13px;
  font-weight: 600;
  font-family: "Fira Code";
  color: #d7d7d7;
}

.textos-explicativos-titulo {
  font-size: 50px;
  font-weight: 1000;
  font-family: "Chathura";
  margin-bottom: 10px;
  color: greenyellow;
}

.textos-explicativos p {
  font-weight: 500;
  font-family: "Fira Code";
  color: #d7d7d7;
  margin-bottom: 0px;
  margin-top: 0px;
}

.secao-card{
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-top: 40px;
}

.card{
  background-color: #adff2f;
  border-radius: 9px;
  align-items: center;
  font-family: "Fira Code";
  text-align: center;
  padding: 7px;
  color: #d7d7d7;
  margin-right: 30px;
 }

.card:hover{/* Adcionando uma ação quando passar o mouse na classe card */
  background-color: #000000;
  color: #adff2f;
 }

 .card_2{
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  align-items: center;
  font-family: "Fira Code";
  text-align: center;
  padding: 7px;
  color: #d7d7d7;
  cursor: pointer;
  margin-right: 30px;
 }

 .card_2:hover{/* Adcionando uma ação quando passar o mouse na classe card */
  color: #adff2f;
 }

.card a{
  text-decoration: none;
  font-family: "Fira Code";
  font-weight: 800;
 }

.cartao-body{
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Fira Code";
  padding: 10px;
 }

.rodape{
  color: rgba(172, 255, 47, 0.582);
  font-size: 14px;
  width: 100%;
  height: auto;
 }

.rodape a{
  text-decoration: none;
  color:#acacac;
 }

.rodape p{
  margin-bottom: 5px;
 }

.rodape-div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 60px 10px 40px 10px;
  justify-content: center;
 }

.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4, .rodape-ass{
  display: flex;
  width: 15%;
  padding: 30px;
 }

.rodape span{
  font-size: 20px;
 }
.rodape-direitos{
  background-color: rgba(172, 255, 47, 0.808);
  width: 100%;
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: black;
 }