<section class="projects-container">
  <article class="project-item">
    <h2>ListBeat</h2>
    <p>
      O ListBeat é um aplicativo offline de catálogo musical pessoal, inspirado no Letterboxd, mas
      voltado para músicas e álbuns. Ele permite ao usuário cadastrar faixas ou discos, avaliar com
      notas de 1 a 5 estrelas, escrever comentários, criar listas personalizadas e visualizar seu
      catálogo filtrando por gênero, artista ou nota. O app também mantém um histórico do que já foi
      ouvido. Sua proposta é oferecer uma plataforma simples e independente para organizar e
      revisitar músicas sem depender de serviços de streaming.
    </p>
    <div class="project-links">
      <a href="https://github.com/Tavinhuu/ListBeat" target="_blank" class="link-btn">
        <i class="bi bi-github"></i>
        <span>repositório</span>
      </a>
    </div>
  </article>

  <article class="project-item">
    <h2>Hubbies</h2>
    <p>
      Hubies é uma plataforma de rede social e portfólio profissional projetada para ser a ponte
      entre o talento universitário e o mercado de trabalho. A aplicação funciona como um "hub" onde
      estudantes podem exibir seus projetos acadêmicos e pessoais, enquanto empresas podem descobrir
      e se conectar com novos talentos de forma direcionada e interativa.
    </p>
    <div class="project-links">
      <a href="https://github.com/mickeiascharles/Hubies" target="_blank" class="link-btn">
        <i class="bi bi-github"></i>
        <span>repositório</span>
      </a>
      <a href="https://hubies.onrender.com/" target="_blank" class="link-btn">
        <i class="bi bi-house-door-fill"></i>
        <span>hospedagem</span>
      </a>
    </div>
  </article>

  <article class="project-item">
    <h2>ShelfShare</h2>
    <p>
      ShelfShare é uma plataforma digital para o compartilhamento e empréstimo de livros entre
      usuários. A aplicação foi desenhada para funcionar como uma "biblioteca" comunitária, onde
      usuários podem disponibilizar livros que já leram e solicitar o empréstimo de títulos de
      outros membros da comunidade. O projeto foi construído com o objetivo principal de servir como
      um sistema completo para a aplicação prática de metodologias de teste de software.
    </p>
    <div class="project-links">
      <a href="https://github.com/mickeiascharles/ShelfShare" target="_blank" class="link-btn">
        <i class="bi bi-github"></i>
        <span>repositório</span>
      </a>
    </div>
  </article>

  <article class="project-item">
    <h2>Farmalink</h2>
    <p>
      Farmalink é um sistema de marketplace de farmácias Full Stack que conecta clientes a uma
      variedade de medicamentos e produtos de saúde. A aplicação simula um ambiente de e-commerce
      real onde usuários podem pesquisar produtos, montar carrinhos de compras e acompanhar seus
      pedidos, enquanto administradores possuem controle total sobre o catálogo e as vendas. O
      projeto foi construído com o objetivo de aplicar conceitos avançados de desenvolvimento web,
      integrando um frontend moderno em React com uma API robusta em Node.js.
    </p>
    <div class="project-links">
      <a href="https://github.com/mickeiascharles/Farmalink" target="_blank" class="link-btn">
        <i class="bi bi-github"></i>
        <span>repositório</span>
      </a>
    </div>
  </article>

  <article class="project-item">
    <h2>InsightPro</h2>
    <p>
      Projeto de sistema para usuários visualizarem seus paínes BI, com segurança e compartilhamento
      multi-tenant. Tecnologias usadas: HTML, CSS, JavaScript, API.
    </p>
    <div class="project-links">
      <a href="https://github.com/mickeiascharles/Farmalink" target="_blank" class="link-btn">
        <i class="bi bi-github"></i>
        <span>repositório</span>
      </a>
      <a href="https://mickeiascharles.github.io/InsightPro/" target="_blank" class="link-btn">
        <i class="bi bi-house-door-fill"></i>
        <span>hospedagem</span>
      </a>
    </div>
  </article>

  <article class="project-item">
    <h2>MOV</h2>
    <p>Projeto desenvolvido para matéria de Residencia em parceria com a Startup Azzz. MOV é um sistema de monitoramento preventivo para evitar roubo de cabos e vandalismo em infraestrutura subterrânea.
    MOV é uma plataforma full-stack desenhada para monitorar em tempo real a abertura de bueiros, diferenciando eventos de Manutenção Agendada (Autorizada) de eventos de Violação (Não Autorizada) detectados por sensores IoT (Internet das Coisas).

O objetivo principal foi criar um painel de controle robusto, seguro e reativo, com foco na Gestão de Incidentes e na Visualização Geográfica dos ativos.</p>
    <div class="project-links">
      <a href="https://github.com/mickeiascharles/MOV" target="_blank" class="link-btn">
        <i class="bi bi-github"></i>
        <span>repositório</span>
      <a href="https://mov-pied.vercel.app/login" target="_blank" class="link-btn">
        <i class="bi bi-house-door-fill"></i>
        <span>hospedagem</span>
      </a>
    </div>
  </article>
</section>
