<section class="sobre-container">
  <div class="content-wrapper">
    <div class="profile-header">
      <img src="assets/profile.webp" alt="Foto de Mickeias" class="profile-img" />
    </div>

    <div class="text-content">
      <p>
        Graduando em Ciência da Computação pela Universidade Católica de Brasília, atuo como
        Desenvolvedor Fullstack com experiência em projetos acadêmicos e pessoais no desenvolvimento
        de sistemas.
      </p>
      <p>
        Possuo domínio em desenvolvimento frontend, trabalhando com HTML, CSS, JavaScript e
        TypeScript para criação de interfaces responsivas e intuitivas. No backend, desenvolvi
        projetos utilizando JavaScript com Node.js, realizando integração de APIs e estruturação de
        servidores.
      </p>
      <p>
        Tenho vivência na análise, desenvolvimento e manutenção de sistemas nas linguagens C e Java,
        além de experiência em prototipagem de interfaces e UX/UI design, criando fluxos de
        navegação e protótipos funcionais.
      </p>
      <p>
        Paralelamente, tenho com domínio em Adobe Illustrator, focado na criação de logotipos,
        identidades visuais e ilustrações personalizadas para clientes de diferentes segmentos.
      </p>
    </div>

    <div class="skills-section">
      <div class="skill-group">
        <h3>Linguagens de domínio:</h3>
        <div class="icons">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
            alt="HTML5"
            title="HTML5"
            class="skill-icon"
          />
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
            alt="CSS3"
            title="CSS3"
            class="skill-icon"
          />
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
            alt="MySQL"
            title="SQL"
            class="skill-icon"
          />
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
            alt="Java"
            title="Java"
            class="skill-icon"
          />
          <img
            src="https://img.icons8.com/color/600/c-programming.png"
            alt="C"
            title="C"
            class="skill-icon"
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/5968/5968371.png"
            alt="Swift"
            title="Swift"
            class="skill-icon"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
            alt="JavaScript"
            title="JavaScript"
            class="skill-icon"
          />
          <img
            src="https://images.icon-icons.com/2415/PNG/512/typescript_original_logo_icon_146317.png"
            alt="TypeScript"
            title="TypeScript"
            class="skill-icon"
          />
        </div>
      </div>

      <div class="skill-group">
        <h3>Tecnologias e ferramentas de domínio:</h3>
        <div class="icons">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2560px-Node.js_logo.svg.png"
            alt="Node.js"
            title="Node.js"
            class="skill-icon"
          />
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
            alt="React"
            title="React"
            class="skill-icon"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Vitejs-logo.svg/1039px-Vitejs-logo.svg.png"
            alt="Vite"
            title="Vite"
            class="skill-icon"
          />
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
            alt="Git"
            title="Git"
            class="skill-icon"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Axios_logo_%282020%29.svg/2560px-Axios_logo_%282020%29.svg.png"
            alt="Axios"
            title="Axios"
            class="skill-icon"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Angular_gradient_logo.png/1200px-Angular_gradient_logo.png"
            alt="Angular"
            title="Angular"
            class="skill-icon"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/postman.svg"
            alt="Postman"
            title="Postman"
            class="skill-icon"
          />
          <img
            src="https://cdn.worldvectorlogo.com/logos/expressjs.svg"
            alt="Expreess"
            title="Express"
            class="skill-icon"
          />
        </div>
      </div>
    </div>

    <footer class="contacts-footer">
      <div class="social-links">
        <a href="https://github.com/mickeiascharles" target="_blank"
          ><i class="bi bi-github"></i
        ></a>
        <a href="https://www.instagram.com/mickeiascharles/" target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
        <a href="https://linkedin.com/in/mickeiascharles" target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>

      <div class="contact-divider"></div>

      <div class="contact-info">
        <div class="contact-item">
          <i class="bi bi-whatsapp"></i>
          <span>+55 (21) 9 7099-2766</span>
        </div>
        <div class="contact-item">
          <i class="bi bi-envelope"></i>
          <span>contatomickeias@gmail.com</span>
        </div>
      </div>
    </footer>
  </div>
</section>
